# Load the data

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Import training set

In [3]:
dataset_train = pd.read_csv('../../data/google-stock-price/Google_Stock_Price_Train.csv')
dataset_train

            Date    Open    High     Low   Close      Volume
0       1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1       1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2       1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3       1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4       1/9/2012  322.04  322.29  309.46  620.76  11,688,800
...          ...     ...     ...     ...     ...         ...
1253  12/23/2016  790.90  792.74  787.28  789.91     623,400
1254  12/27/2016  790.68  797.86  787.66  791.55     789,100
1255  12/28/2016  793.70  794.23  783.20  785.05   1,153,800
1256  12/29/2016  783.33  785.93  778.92  782.79     744,300
1257  12/30/2016  782.75  782.78  770.41  771.82   1,770,000

[1258 rows x 6 columns]

In [6]:
# create numpy array
training_set = dataset_train.iloc[:,1:2].values
training_set

array([[325.25],
       [331.27],
       [329.83],
       ...,
       [793.7 ],
       [783.33],
       [782.75]])

## Feature scaling (Normalization)

In [8]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0,1))
training_set_scaled = scaler.fit_transform(training_set)

## Creating Timesteps

In [10]:
training_set_scaled.shape[0]

1258

In [17]:
training_set_scaled

array([[0.08581368],
       [0.09701243],
       [0.09433366],
       ...,
       [0.95725128],
       [0.93796041],
       [0.93688146]])

In [11]:
X_train = []
y_train = []

for i in range(60, training_set_scaled.shape[0]): # from 60 days back till the end (1258)
    X_train.append(training_set_scaled[i - 60 : i, 0])
    y_train.append(training_set_scaled[i, 0])

X_train , y_train = np.array(X_train), np.array(y_train)

In [16]:
X_train.shape , y_train.shape

((1198, 60), (1198,))

## Reshape inputs

In [20]:
X_train_shaped = np.reshape(X_train, (X_train.shape[0], X_train.shape[1] , 1)) # (batch_size, timesteps, number of predictors)

# Build RNN